:host {
	display: flex;
	flex-direction: column;

	h3 {
		margin-bottom: 2rem;
	}

	section {
		margin-bottom: 32px;
	}

	.inner-content {
		padding: 24px;
		background: #fff;
		height: 700px;
	}

	#buttons {
		display: flex;
		justify-content: space-evenly;
	}

	nz-spin {
		text-align: center;
	}

	.stats {
		display: flex;
		flex-direction: column;
		width: fit-content;
		padding: 0 5px;
		background: rgba(0, 0, 0, 0.05);
		border-radius: 3px;
		margin-top: 50px;

		label {
			font-size: 12px;

			&.value {
				font-size: 13px;
				font-weight: 500;
			}
		}
	}
}
