
<nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="Experimento 1" nzSubtitle="Alunos x Questão: Todos os alunos realizam cada questão por 10 vezes">
</nz-page-header>
<section>
	<form nz-form [formGroup]="validateForm" (ngSubmit)="run()">
		<nz-form-item>
		  <nz-form-label [nzSpan]="7" nzRequired>Desvio de Classificação (RD)</nz-form-label>
		  <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="rdErrorTpl">
			<input nz-input formControlName="defaultRD" type="number"/>
			<ng-template #rdErrorTpl let-control>
			  <ng-container *ngIf="control.hasError('required')">
				Por favor, informe o desvio de classificação (RD)!
			  </ng-container>
			  <ng-container *ngIf="control.hasError('min')">
				O menor valor permitido para o RD é 1!
			  </ng-container>
			  <ng-container *ngIf="control.hasError('max')">
				O maior valor permitido para o RD é {{maxSkill}}!
			  </ng-container>
			</ng-template>
		  </nz-form-control>
		</nz-form-item>
		<nz-form-item>
		  <nz-form-label [nzSpan]="7" nzRequired>Volatilidade</nz-form-label>
		  <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="volatilityErrorTpl">
			<input nz-input type="number" step=".01" formControlName="defaultVolatility" />
			<ng-template #volatilityErrorTpl let-control>
			  <ng-container *ngIf="control.hasError('required')">
				Por favor, informe a volatilidade!
			  </ng-container>
			  <ng-container *ngIf="control.hasError('min')">
				O menor valor permitido para a volatilidade é 0!
			  </ng-container>
			  <ng-container *ngIf="control.hasError('max')">
				O maior valor permitido para a volatilidade é 5!
			  </ng-container>
			</ng-template>
		  </nz-form-control>
		</nz-form-item>
		<nz-form-item>
		  <nz-form-label [nzSpan]="7" nzRequired>Tau</nz-form-label>
		  <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="tauErrorTpl">
			<input nz-input type="number" step=".01" formControlName="defaultTau"/>
			<ng-template #tauErrorTpl let-control>
				<ng-container *ngIf="control.hasError('required')">
				  Por favor, informe o Tau!
				</ng-container>
				<ng-container *ngIf="control.hasError('min')">
				  O menor valor permitido para o Tau é 0!
				</ng-container>
				<ng-container *ngIf="control.hasError('max')">
				  O maior valor permitido para o Tau é 2!
				</ng-container>
			  </ng-template>
		  </nz-form-control>
		</nz-form-item>
		<nz-form-item>
			<nz-form-label [nzSpan]="7" nzRequired>Semente</nz-form-label>
			<nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="seedErrorTpl">
			  <input nz-input formControlName="seed" type="number"/>
			  <ng-template #seedErrorTpl let-control>
				<ng-container *ngIf="control.hasError('required')">
				  Por favor, informe a semente!
				</ng-container>
			  </ng-template>
			</nz-form-control>
		  </nz-form-item>
		<nz-form-item>
			<nz-form-control [nzOffset]="7" [nzSpan]="12">
				<div id="buttons">
					<button nz-button nzType="primary" [disabled]="!validateForm.valid" [nzLoading]="isLoadingData | async"><i nz-icon nzType="play-circle"></i>Simular</button>
					<button nz-button (click)="resetForm($event)">Reiniciar</button>
				</div>
			</nz-form-control>
		  </nz-form-item>
	  </form>
</section>
<section *ngIf="differenceBetweenSkills.data.length" id="question-graphics">
	<h2 nz-typography>Questões</h2>
	<section *ngIf="differenceBetweenSkills.data.length">
		<h3 nz-typography>Diferença Entre Classificação Real e Classificação Aparente</h3>
		<ngx-charts-bar-horizontal [xScaleMax]="maxSkill" [view]="differenceBetweenSkills.view" [scheme]="differenceBetweenSkills.colorScheme" [legend]="differenceBetweenSkills.legend" [legendTitle]="differenceBetweenSkills.legendTitle" [showXAxisLabel]="differenceBetweenSkills.showXAxisLabel"
		  [showYAxisLabel]="differenceBetweenSkills.showYAxisLabel" [xAxis]="differenceBetweenSkills.xAxis" [yAxis]="differenceBetweenSkills.yAxis" [xAxisLabel]="differenceBetweenSkills.xAxisLabel"
		  [yAxisLabel]="differenceBetweenSkills.yAxisLabel" [timeline]="differenceBetweenSkills.timeline" [results]="differenceBetweenSkills.data" (select)="onSelect($event)"
		  (activate)="onActivate($event)" (deactivate)="onDeactivate($event)" *ngIf="!isLoadingData">
		</ngx-charts-bar-horizontal>
		<div class="stats">
			<span>
				<label>Máximo de Partidas: </label>
				<label class="value">{{maxMatches}}</label>
			</span>
			<span>
				<label>Média de Partidas: </label>
				<label class="value">{{mediumMatches}}</label>
			</span>
			<span>
				<label>RD Medio: </label>
				<label class="value">{{mediumRD}}</label>
			</span>
		</div>
	</section>
	<section *ngIf="difficultyVariation.data.length">
		<h3 nz-typography>Evolução da Classificação das Questões</h3>
		<ngx-charts-line-chart [view]="difficultyVariation.view" [scheme]="difficultyVariation.colorScheme" [legend]="difficultyVariation.legend" [legendTitle]="difficultyVariation.legendTitle" [showXAxisLabel]="difficultyVariation.showXAxisLabel"
		  [showYAxisLabel]="difficultyVariation.showYAxisLabel" [xAxis]="difficultyVariation.xAxis" [yAxis]="difficultyVariation.yAxis" [xAxisLabel]="difficultyVariation.xAxisLabel"
		  [yAxisLabel]="difficultyVariation.yAxisLabel" [autoScale]="difficultyVariation.autoScale" [timeline]="difficultyVariation.timeline" [results]="difficultyVariation.data" (select)="onSelect($event)"
		  (activate)="onActivate($event)" (deactivate)="onDeactivate($event)" *ngIf="!isLoadingData">
		</ngx-charts-line-chart>
	</section>
</section>


<section *ngIf="differenceBetweenSkillsStudents.data.length" id="question-graphics">
	<h2 nz-typography>Estudantes</h2>
	<section *ngIf="differenceBetweenSkillsStudents.data.length">
		<h3 nz-typography>Diferença Entre Classificação Real e Classificação Aparente</h3>
		<ngx-charts-line-chart [view]="differenceBetweenSkillsStudents.view" [scheme]="differenceBetweenSkillsStudents.colorScheme" [legend]="differenceBetweenSkillsStudents.legend" [legendTitle]="differenceBetweenSkillsStudents.legendTitle" [showXAxisLabel]="differenceBetweenSkillsStudents.showXAxisLabel"
		  [showYAxisLabel]="differenceBetweenSkillsStudents.showYAxisLabel" [xAxis]="differenceBetweenSkillsStudents.xAxis" [yAxis]="differenceBetweenSkillsStudents.yAxis" [xAxisLabel]="differenceBetweenSkillsStudents.xAxisLabel"
		  [yAxisLabel]="differenceBetweenSkillsStudents.yAxisLabel" [timeline]="differenceBetweenSkillsStudents.timeline" [results]="differenceBetweenSkillsStudents.data" (select)="onSelect($event)"
		  (activate)="onActivate($event)" (deactivate)="onDeactivate($event)" *ngIf="!isLoadingData">
		</ngx-charts-line-chart>
		<div class="stats">
			<span>
				<label>Máximo de Partidas: </label>
				<label class="value">{{studentsStats.maxMatches}}</label>
			</span>
			<span>
				<label>Média de Partidas: </label>
				<label class="value">{{studentsStats.mediumMatches}}</label>
			</span>
			<span>
				<label>RD Medio: </label>
				<label class="value">{{studentsStats.mediumRD}}</label>
			</span>
		</div>
	</section>
	<section *ngIf="difficultyVariationStudents.data.length">
		<h3 nz-typography>Evolução da Classificação dos Estudantes</h3>
		<ngx-charts-line-chart [view]="difficultyVariationStudents.view" [scheme]="difficultyVariationStudents.colorScheme" [legend]="difficultyVariationStudents.legend" [legendTitle]="difficultyVariationStudents.legendTitle" [showXAxisLabel]="difficultyVariationStudents.showXAxisLabel"
		  [showYAxisLabel]="difficultyVariationStudents.showYAxisLabel" [xAxis]="difficultyVariationStudents.xAxis" [yAxis]="difficultyVariationStudents.yAxis" [xAxisLabel]="difficultyVariationStudents.xAxisLabel"
		  [yAxisLabel]="difficultyVariationStudents.yAxisLabel" [autoScale]="difficultyVariationStudents.autoScale" [timeline]="difficultyVariationStudents.timeline" [results]="difficultyVariationStudents.data" (select)="onSelect($event)"
		  (activate)="onActivate($event)" (deactivate)="onDeactivate($event)" *ngIf="!isLoadingData">
		</ngx-charts-line-chart>
	</section>
</section>