
<nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="Início" nzSubtitle="Cada questão é resolvida por alunos aleatórios até que o valor aparente da sua classificação esteja dentro de uma margem">
</nz-page-header>
<section>
	<form nz-form [formGroup]="validateForm" (ngSubmit)="run()">
		<nz-form-item>
		  <nz-form-label [nzSpan]="7" nzRequired>Desvio de Classificação (RD)</nz-form-label>
		  <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="rdErrorTpl">
			<input nz-input formControlName="defaultRD" type="number"/>
			<ng-template #rdErrorTpl let-control>
			  <ng-container *ngIf="control.hasError('required')">
				Por favor, informe o desvio de classificação (RD)!
			  </ng-container>
			  <ng-container *ngIf="control.hasError('min')">
				O menor valor permitido para o RD é 1!
			  </ng-container>
			  <ng-container *ngIf="control.hasError('max')">
				O maior valor permitido para o RD é {{maxSkill}}!
			  </ng-container>
			</ng-template>
		  </nz-form-control>
		</nz-form-item>
		<nz-form-item>
		  <nz-form-label [nzSpan]="7" nzRequired>Volatilidade</nz-form-label>
		  <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="volatilityErrorTpl">
			<input nz-input type="number" step=".01" formControlName="defaultVolatility" />
			<ng-template #volatilityErrorTpl let-control>
			  <ng-container *ngIf="control.hasError('required')">
				Por favor, informe a volatilidade!
			  </ng-container>
			  <ng-container *ngIf="control.hasError('min')">
				O menor valor permitido para a volatilidade é 0!
			  </ng-container>
			  <ng-container *ngIf="control.hasError('max')">
				O maior valor permitido para a volatilidade é 5!
			  </ng-container>
			</ng-template>
		  </nz-form-control>
		</nz-form-item>
		<nz-form-item>
		  <nz-form-label [nzSpan]="7" nzRequired>Tau</nz-form-label>
		  <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="tauErrorTpl">
			<input nz-input type="number" step=".01" formControlName="defaultTau"/>
			<ng-template #tauErrorTpl let-control>
				<ng-container *ngIf="control.hasError('required')">
				  Por favor, informe o Tau!
				</ng-container>
				<ng-container *ngIf="control.hasError('min')">
				  O menor valor permitido para o Tau é 0!
				</ng-container>
				<ng-container *ngIf="control.hasError('max')">
				  O maior valor permitido para o Tau é 2!
				</ng-container>
			  </ng-template>
		  </nz-form-control>
		</nz-form-item>
		<nz-form-item>
			<nz-form-label [nzSpan]="7" nzRequired>Semente</nz-form-label>
			<nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="seedErrorTpl">
			  <input nz-input formControlName="seed" type="number"/>
			  <ng-template #seedErrorTpl let-control>
				<ng-container *ngIf="control.hasError('required')">
				  Por favor, informe a semente!
				</ng-container>
			  </ng-template>
			</nz-form-control>
		  </nz-form-item>
		<nz-form-item>
			<nz-form-control [nzOffset]="7" [nzSpan]="12">
				<div id="buttons">
					<button nz-button nzType="primary" [disabled]="!validateForm.valid" [nzLoading]="isLoadingData | async"><i nz-icon nzType="play-circle"></i>Simular</button>
					<button nz-button (click)="resetForm($event)">Reiniciar</button>
				</div>
			</nz-form-control>
		  </nz-form-item>
	  </form>
</section>
<section *ngIf="differenceBetweenSkills.data.length">
	<h3 nz-typography>Diferença Entre Classificação Real e Classificação Aparente</h3>
	<ngx-charts-line-chart [yScaleMax]="maxSkill" [view]="differenceBetweenSkills.view" [scheme]="differenceBetweenSkills.colorScheme" [legend]="differenceBetweenSkills.legend" [legendTitle]="differenceBetweenSkills.legendTitle" [showXAxisLabel]="differenceBetweenSkills.showXAxisLabel"
	  [showYAxisLabel]="differenceBetweenSkills.showYAxisLabel" [xAxis]="differenceBetweenSkills.xAxis" [yAxis]="differenceBetweenSkills.yAxis" [xAxisLabel]="differenceBetweenSkills.xAxisLabel"
	  [yAxisLabel]="differenceBetweenSkills.yAxisLabel" [timeline]="differenceBetweenSkills.timeline" [results]="differenceBetweenSkills.data" (select)="onSelect($event)"
	  (activate)="onActivate($event)" (deactivate)="onDeactivate($event)" *ngIf="!isLoadingData">
	</ngx-charts-line-chart>
	<div class="stats">
		<span>
			<label>Máximo de Partidas: </label>
			<label class="value">{{maxMatches}}</label>
		</span>
		<span>
			<label>Média de Partidas: </label>
			<label class="value">{{mediumMatches}}</label>
		</span>
		<span>
			<label>RD Medio: </label>
			<label class="value">{{mediumRD}}</label>
		</span>
	</div>
</section>
<section *ngIf="difficultyVariation.data.length">
	<h3 nz-typography>Variação da Classificação Após Cada Rodada</h3>
	<ngx-charts-line-chart [yScaleMax]="maxSkill" [view]="difficultyVariation.view" [scheme]="difficultyVariation.colorScheme" [legend]="difficultyVariation.legend" [legendTitle]="difficultyVariation.legendTitle" [showXAxisLabel]="difficultyVariation.showXAxisLabel"
	  [showYAxisLabel]="difficultyVariation.showYAxisLabel" [xAxis]="difficultyVariation.xAxis" [yAxis]="difficultyVariation.yAxis" [xAxisLabel]="difficultyVariation.xAxisLabel"
	  [yAxisLabel]="difficultyVariation.yAxisLabel" [timeline]="difficultyVariation.timeline" [results]="difficultyVariation.data" (select)="onSelect($event)"
	  (activate)="onActivate($event)" (deactivate)="onDeactivate($event)" *ngIf="!isLoadingData">
	</ngx-charts-line-chart>
</section>